[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
tavern = "*"
pylint = "*"

[packages]
urllib3 = "*"
requests = "*"
iptools = "*"
macholib = "*"
dropbox = "*"
netifaces = "*"
cryptography = "*"
pyminifier = "*"
xlutils = "*"
pefile = "*"
simplejson = "*"
bcrypt = "*"
PyDispatcher = "*"
Flask = "*"
pyOpenSSL = "*"
PyInstaller = "*"
zlib_wrapper = "*"
M2Crypto = "*"
Jinja2 = "*"
sqlalchemy = "*"
marshmallow-sqlalchemy = "*"
flask-smorest = "*"
pycryptodome = "*"
pytest = "*"

[requires]
python_version = "3.7"
